$color_1: #164f57;
$color_2: #d9d9d9;
$font-family_1: "Expletus Sans";
$font-family_2: "Montserrat-Regular";
$font-family_3: "Montserrat-Medium";
$background-color_1: #164f57;
$background-color_2: #e8e8e8;
$background-color_3: #c0c0c0;

/* header */
/* section presentation */
/* Section produits */
main {
    color: $color_1;
}
header {
    background-color: $background-color_1;
    width: 15em;
    height: 5em;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.5em;
    margin-left: -0.5em;
}
.lienAlizon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 13em;
    text-decoration: none;
}
.logoAlizon {
    height: 4em;
    width: auto;
    path {
        fill: #d9d9d9;
    }
}
h1 {
    color: $color_2;
    font-family: $font-family_1;
    margin: 0;
}
h2 {
    font-family: $font-family_2;
}
p {
    font-family: $font-family_3;
}
.sectionPresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family_3;
    table {
        border-collapse: collapse;
        width: 100%;
        tr {
            &:nth-child(odd) {
                background-color: $background-color_2;
            }
        }
        th {
            text-align: left;
            padding-left: 1em;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        td {
            padding-left: 1em;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
.divVendeur {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    img {
        height: 7em;
        width: 7em;
        border-radius: 20px;
    }
    h2 {
        margin-bottom: 0.2em;
    }
}
.divNomNote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noteAvis {
    display: flex;
    align-items: center;
    img {
        width: 1.5em;
        height: auto;
    }
}
.h2Presentation {
    margin-top: 1.5em;
    margin-bottom: 0.2em;
    + {
        p {
            margin-top: 0;
            margin-bottom: 2em;
            text-align: justify;
        }
    }
}
.sectionProduits {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: $background-color_2;
    padding: 1em;
}
.divUnProduit {
    display: flex;
    height: 8em;
    justify-content: space-between; 
    img {
        object-fit: cover;
        height: 8em;
        width: 8em;
        border-radius: 5px;
        border: 1px solid #164f57;
    }
}
.divNomDescription {
    width: 60%;
    height: 8em;
    h2 {
        margin-top: 0;
        margin-bottom: 0.2em;
    }
    p {
        margin: 0;
        text-align: justify;
    }
}
hr {
    background-color: $background-color_3;
    height: 3px;
    border: none;
    width: 95%;
    border-radius: 2px;
}