/*
#5C748F bleu
#404E58 bleu foncé
#BDBFBB creme
*/

/* Quand on scroll, retirer catégories éventuellement, ca peut etre cool */

/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                          Commun à toutes les pages                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

@font-face {
	font-family: "Expletus Sans";
	src: url("./fonts/ExpletusSans-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: #404E58;
}

h1 {
    color: #D9D9D9;
    font-family: "Expletus Sans";
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #404E58;
    position: sticky;
    top: 0;
}

.divHeaderAlizon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

header h2:hover {
    color: #6F98C7;
}

.lienAlizon {
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 70%;
}

.divRecherche {
    background-color: #D9D9D9;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 2em;
    max-width: 40%;
}

.champsRecherche {
    border-radius: 25px;
    flex-grow: 1;
    border-style: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: .5em;
    margin-right: .3em;
}

.champsRecherche:focus {
    outline: none;
}

.divPanierProfil {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 70%;
}

.logoLoupe {
    max-width: 1.8em;
}

.logoProfil, .logoAlizon {
    height: 100%;
    width: auto;
    margin: 0 0.5em;
}

.lienConnexion {
    height: 100%;
}

hr {
    background-color: #D9D9D9;
    height: 3px;
    border: none;
    width: 100%;
    margin: 0;
}

header h2, header nav {
    font-family: "Montserrat-Medium";
    font-size: 1.2em;
}

nav{
    background-color: #5C748F;
    padding: .75em 0;
}

p {
    font-family: "Montserrat-Regular";
}

header a:link, a:hover, a:active, a:visited {
    color: #D9D9D9;
    text-decoration: none;
}

main {
    padding: 2em;
    background-color: #f3f3f3;
}

footer {
    background-color: #404E58;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > div {
    display: flex;
    justify-content: space-around;
}

h2, footer > p {
    color: #D9D9D9;
}

/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                          Page d'accueil (index.php)                             ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.categorie {
    width: 10em;
    padding: .5em 3em 0.7em;
    text-align: center;
}

.categorie:hover {
    /*color: #FFD9A1;
    text-decoration: underline;*/
    color: #404E58;
    background-color: #f3f3f3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃      Page d'inscription et de connexion (inscription.php & connexion.php)       ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

.divAlizon {
    text-align: center;
}

.divAlizon img {
    height: 10em;
}

.divCredit {
    margin: 0 30% 0 30%;
}

.sectionCredit {
    border: solid 2px;
    border-color: #C6C6C6;
    background-color: white;
    color: #404E58;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2em 3em;
    text-align: left;
    margin-bottom: .5em;
}

.sectionCredit h2 {
    color: #404E58;
    text-align: center;
    font-family: "Montserrat-Medium";
    font-size: xx-large;
    margin-bottom: 0;
}

.sectionCredit input, label, a {
    font-family: "Montserrat-Regular";
    font-size: larger;
}

.sectionCredit form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sectionCredit input[type="submit"] {
    background-color: #404E58;
    color: white;
    margin: 2.5em 25% 1em 25%;
    height: 2.5em;
    font-size: x-large;
    border-radius: 10px;
}

.sectionCredit input[type="text"], input[type="submit"], input[type="password"], input[type="email"] {
    background-color: #F3F3F3;
    margin: 1% 0 0 0;
    height: 2.5em;
    border: solid 1px;
    border-color: #C6C6C6;
}

.sectionCredit label {
    margin-top: 10%;
}

.sectionCredit input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    margin: 2% 0 0 0;
}

.divCredit a {
    color: #404E58;
    text-decoration: none;
    margin-left: 2px;
}

.nomPrenom {
    display: flex;
    margin-top: 10%;
}

.nomPrenom > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Nom */
.nomPrenom input {
    padding: 0;
    width: 90%;
}

/* Prénom */
.nomPrenom > div + div > input {
    padding: 0;
    width: 100%;
}

/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                          Page panier (panier.php)                               ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

.mainPanier{
    background-color: white;
    display: flex;
    color: #404E58;
    font-family: "Montserrat-Medium";
}

.sectionPanier{
    border-radius: 15px;
    background-color: #E7E8E6;
    color: #404E58;
}

.sectionPanier h2{
    font-weight: medium;
    font-size: 1.4em;
    color: #404E58;
}

.divPanierHeader{
    font-weight: medium;
    color: #404E58;
    display: flex;
    font-size: 1.4em;
}

.sectionPanier hr{
    background-color: #404E58;
}

.sectionPanier + aside, .sectionPanier + aside a, .sectionPanier + aside h2{
    margin-left: 2em;
    border-radius: 15px;
    background-color: #E7E8E6;
    color: #404E58;
}

.sectionPanier + aside a{
    background-color: #6F98C7;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.5em 01em 0.5em 1em;
    text-align: center;
}

.sectionPanier + aside a:hover{
    background-color: #404E58;
    text-decoration: none;
    color: #E7E8E6;
}