/*
#5C748F bleu
#404E58 bleu foncé
#BDBFBB creme
*/

/* Quand on scroll, retirer catégories éventuellement, ca peut etre cool */

@font-face {
	font-family: "Expletus Sans";
	src: url("./fonts/ExpletusSans-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype")
}

body {
    margin: 0;
    background-color: #404E58;
}

h1 {
    color: #BDBFBB;
    font-family: "Expletus Sans";
}

main {
    background-color: white;
}

header {
    background-color: #404E58;
    position: sticky;
    top: 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Alizon {
    display: flex;
    margin-right: auto;
}

.divRecherche {
    background-color: #BDBFBB;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 2em;
    max-width: 40%;
}

.champsRecherche {
    border-radius: 25px;
    flex-grow: 1;
    border-style: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.divPanierProfil {
    display: flex;
    margin-left: auto;
}

.logoAlizon {
    max-width: 5em;
    max-height: 5em;
}

.logoLoupe {
    max-width: 1.8em;
}

.logoProfil {
    width: 3em;
    margin: .5em;
}

hr {
    background-color: #BDBFBB;
    height: 3px;
    border: none;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header a:link, a:hover, a:active, a:visited {
    color: #BDBFBB;
    text-decoration: none;
}

footer {
    background-color: #404E58;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > div {
    display: flex;
    justify-content: space-around;
}

p, header h2 {
    font-family: "Montserrat";
}

header h2:hover {
    color: #6F98C7;
}

h2, footer > p {
    color: #BDBFBB;
}