/*
#5C748F bleu
#404E58 bleu foncé
#BDBFBB creme
*/

/* Quand on scroll, retirer catégories éventuellement, ca peut etre cool */

@font-face {
	font-family: "Expletus Sans";
	src: url("./fonts/ExpletusSans-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: #404E58;
}

h1 {
    color: #BDBFBB;
    font-family: "Expletus Sans";
}
header {
    background-color: #404E58;
    position: sticky;
    top: 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2:hover {
    color: #6F98C7;
}

.Alizon {
    display: flex;
    margin-right: auto;
}

.divRecherche {
    background-color: #BDBFBB;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 2em;
    max-width: 40%;
}

.champsRecherche {
    border-radius: 25px;
    flex-grow: 1;
    border-style: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: .5em;
    margin-right: .3em;
}

.champsRecherche:focus {
    outline: none;
}

.divPanierProfil {
    display: flex;
    margin-left: auto;
}

.logoAlizon {
    max-width: 5em;
    max-height: 5em;
}

.logoLoupe {
    max-width: 1.8em;
}

.logoProfil {
    width: 3em;
    margin: .5em;
}

hr {
    background-color: #BDBFBB;
    height: 3px;
    border: none;
    width: 100%;
    margin: 0;
}

header h2, header nav {
    font-family: "Montserrat";
    font-size: 1.2em;
}

p {
    font-family: "Montserrat";
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

header ul li a {
    width: 10em;
    padding: .5em 4em 1em;
    text-align: center;
}

header ul a:hover {
    background-color: white;
    color: #404E58;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header a:link, a:hover, a:active, a:visited {
    color: #BDBFBB;
    text-decoration: none;
}

main {
    padding: 4em;
    background-color: white;
}

footer {
    background-color: #404E58;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > div {
    display: flex;
    justify-content: space-around;
}

h2, footer > p {
    color: #BDBFBB;
}